In [38]:
import pandas as pd

import config as conf
import data_preparation as pr

In [39]:
# DATA PREPARATION
train_events = conf.TRAIN_EVENTS
train_submissions = conf.TRAIN_SUBMISSIONS
test_events = conf.TEST_EVENTS
test_submissions = conf.TEST_SUBMISSIONS

In [40]:
train_data = pr.data_preparation(train_events, train_submissions)
test_data = pr.data_preparation(test_events, test_submissions)

In [41]:
train_data.head()

   step_id   timestamp      action  user_id submission_status
0    32815  1434340848      viewed    17632               NaN
1    32815  1434340848      passed    17632               NaN
2    32815  1434340848  discovered    17632               NaN
3    32811  1434340895  discovered    17632               NaN
4    32811  1434340895      viewed    17632               NaN

In [35]:
train_submissions.columns

Index(['step_id', 'timestamp', 'submission_status', 'user_id'], dtype='object')

In [10]:
train_events.columns

Index(['step_id', 'timestamp', 'action', 'user_id'], dtype='object')

In [11]:
train_submissions.rename(columns={'submission_status': 'action'})

        step_id   timestamp   action  user_id
0         31971  1434349275  correct    15853
1         31972  1434348300  correct    15853
2         31972  1478852149    wrong    15853
3         31972  1478852164  correct    15853
4         31976  1434348123    wrong    15853
...         ...         ...      ...      ...
509099   120745  1501946959    wrong     2615
509100   120745  1503059927  correct    13177
509101   120745  1506348153    wrong    15253
509102   120745  1523035316    wrong     1424
509103   120745  1523382825    wrong     9422

[509104 rows x 4 columns]

In [19]:
train_data = pd.concat([train_events, train_submissions.rename(columns={'submission_status': 'action'})])

In [25]:
train_data.head()

   step_id   timestamp      action  user_id submission_status
0    32815  1434340848      viewed    17632               NaN
1    32815  1434340848      passed    17632               NaN
2    32815  1434340848  discovered    17632               NaN
3    32811  1434340895  discovered    17632               NaN
4    32811  1434340895      viewed    17632               NaN

In [37]:
import pandas as pd
import config as conf

# DATA PREPARATION
train_events = conf.TRAIN_EVENTS
train_submissions = conf.TRAIN_SUBMISSIONS
test_events = conf.TEST_EVENTS
test_submissions = conf.TEST_SUBMISSIONS


def event_aggregation(events, submissions):
    user_events = pd.concat([events, submissions.rename(columns={'submission_status': 'action'})])
    return user_events


def data_preparation(events, submissions):
    user_events = event_aggregation(events, submissions)
    return user_events


train_data = data_preparation(train_events, train_submissions)
print(train_data.head())

   step_id   timestamp      action  user_id
0    32815  1434340848      viewed    17632
1    32815  1434340848      passed    17632
2    32815  1434340848  discovered    17632
3    32811  1434340895  discovered    17632
4    32811  1434340895      viewed    17632